.navbar {
  background-color: rgba(96, 184, 184, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar .navbar-toggler {
  border: 1px solid #fff;
  color: #fff;
}

.navbar-nav {
  flex-wrap: wrap;
}

.navbar .nav-link {
  color: #fff;
  transition: 0.3s;
  font-size: 19px;
  padding: 0 20px;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 28px;
  padding: 0 50px;
}

.navbar .nav-link:hover {
  color: rgba(54, 112, 112, 0.925);
}

.active .nav-link {
  color: rgb(54, 112, 112);
}
