<div class="container">
  <form novalidate
        (ngSubmit)="save()"
        [formGroup]="customerForm">
    <fieldset>

      <div class="form-group row"
           [ngClass]="{'has-error': firstNameMessage}">
        <label class="col-md-2 control-label"
               for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="firstNameId"
                 type="text"
                 placeholder="First Name (required)"
                 formControlName="firstName" />
          <span class="help-block"
                *ngIf="firstNameMessage">{{ firstNameMessage }}
          </span>
        </div>
      </div>

      <div class="form-group row"
           [ngClass]="{'has-error': lastNameMessage }">
        <label class="col-md-2 control-label"
               for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="lastNameId"
                 type="text"
                 placeholder="Last Name (required)"
                 formControlName="lastName" />
          <span class="help-block"
                *ngIf="lastNameMessage">{{ lastNameMessage }}
          </span>
        </div>
      </div>

      <div formGroupName="emailGroup"
           [ngClass]="{'has-error': emailGroupMessage }">

        <div class="form-group row"
             [ngClass]="{'has-error': emailMessage}">
          <label class="col-md-2 control-label"
                 for="emailId">Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="emailId"
                   type="text"
                   placeholder="Email (required)"
                   formControlName="email" />
            <span class="help-block"
                  *ngIf="emailMessage">{{ emailMessage }}</span>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{'has-error': confirmEmailMessage}">
          <label class="col-md-2 control-label"
                 for="confirmEmailId">Confirm Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="confirmEmailId"
                   type="text"
                   placeholder="Confirm email (required)"
                   formControlName="confirmEmail" />
            <span class="help-block"
                  *ngIf="confirmEmailMessage || emailGroupMessage">
              {{ confirmEmailMessage || emailGroupMessage }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row"
           [ngClass]="{'has-error': phoneMessage}">
        <label class="col-md-2 control-label"
               for="phoneId">Phone</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="phoneId"
                 type="tel"
                 placeholder="Phone"
                 formControlName="phone" />
          <span class="help-block"
                *ngIf="phoneMessage">{{ phoneMessage }}
          </span>
        </div>
      </div>

      <div class="form-group row"
           [ngClass]="{'has-error': ratingMessage}">
        <label class="col-md-2 control-label"
               for="ratingId">Rating</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="ratingId"
                 type="text"
                 placeholder="Rating"
                 formControlName="rating" />
          <span class="help-block"
                *ngIf="ratingMessage">{{ ratingMessage }}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 control-label">Send notification</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label"
                   for="email">
              <input class="form-check-input"
                     type="radio"
                     value="email"
                     id="email"
                     formControlName="notification">Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label"
                   for="text">
              <input class="form-check-input"
                     type="radio"
                     value="text"
                     id="text"
                     formControlName="notification">Text
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="sendCatalogId"
                     type="checkbox"
                     formControlName="sendCatalog">Send me
              your catalog
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="customerForm.get('sendCatalog').value">
        <div formArrayName="addresses"
             *ngFor="let address of addresses.controls; let i=index">
          <div [formGroupName]="i">
            <div class="form-group row">
              <label class="col-md-2 control-label">Address Type</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input"
                         type="radio"
                         value="home"
                         id="{{'home' + i}}"
                         formControlName="addressType">
                  <label class="form-check-label"
                         attr.for="{{'home' + i}}">Home</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input"
                         type="radio"
                         value="work"
                         id="{{'work' + i}}"
                         formControlName="addressType">
                  <label class="form-check-label"
                         attr.for="{{'work' + i}}">Work</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input"
                         type="radio"
                         value="other"
                         id="{{'other' + i}}"
                         formControlName="addressType">
                  <label class="form-check-label"
                         attr.for="{{'other' + i}}">Other</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group row col-md-6">
                <label class="col-md-2 control-label"
                       attr.for="{{ 'countryId' + i }}">Country</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="{{ 'countryId' + i }}"
                         type="text"
                         placeholder="Country"
                         formControlName="country" />
                </div>
              </div>

              <div class="form-group row col-md-6">
                <label class="col-md-2 control-label"
                       attr.for="{{ 'cityId' + i }}">City</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="{{ 'cityId' + i }}"
                         type="text"
                         placeholder="City"
                         formControlName="city" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group row col-md-6">
                <label class="col-md-2 control-label"
                       attr.for="{{ 'streetId' + i }}">Street</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="{{ 'streetId' + i }}"
                         type="text"
                         placeholder="Street"
                         formControlName="street" />
                </div>
              </div>

              <div class="form-group row col-md-6">
                <label class="col-md-2 control-label"
                       attr.for="{{ 'houseId' + i }}">House</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="{{ 'houseId' + i }}"
                         type="text"
                         placeholder="House"
                         formControlName="house" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary"
                  [disabled]="!addresses.valid"
                  (click)="addAddress()">Add address</button>
        </div>
      </div>

      <div class="form-group row justify-content-between">
        <div class="col-md-4">
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]='!customerForm.valid'>Save</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary"
                  (click)='populateTestData()'>Test Data</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
