#carouselExampleIndicators {
  text-align: center;
  color: #fff;
}

.slider-conainer {
  background: rgba(78, 78, 74, 0.4);
}

.carousel-indicators {
  bottom: -42px;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}
