.navbar {
  background-color: rgba(96, 184, 184, 0.8);
}

.navbar .navbar-toggler {
  border: 1px solid #fff;
  color: #fff;
}

.navbar .nav-link {
  color: #fff;
  transition: 0.3s;
  font-size: 19px;
  padding: 0 25px;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 28px;
  padding: 0 50px;
}

.navbar .nav-link:hover {
  color: rgba(54, 112, 112, 0.925);
}
